.localStyle{
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 30px;
	height: 215px;
	width: auto;
}
.remoteStyle {
	width: auto;
	height: 440px;
	border: 1px solid #ccc;
	padding: 20px;
}
.loginBox{
	width: 500px;
	position: absolute;
	top: 50%;
	margin-top: -90px;
	margin-left: -300px;
	left: 50%;
}
.navbar{
	min-height: 70px;
	background-color: #eae8e7;
}
.logo{
	padding: 10px 15px;
}
.logo img{
	width: 100px;
}
.footer {
    background: #000;
    color: #fff;
    padding: 15px 0;
}
.minHeight{
	min-height: 600px;
}
.navbar-nav>li>a{
	line-height: 38px;
}
.fullwidth{
	width: 100%;
}